body {
    display: flex;
    flex-direction: column;
	text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    background: #9686cf;
    color: #FFF;

    overflow-y: hidden;
}

#divText {
    font-size: 18px;
}
